header{
    height: 100vh;
    padding-top: 5rem;
    overflow: hidden;
}
.header_container{
    text-align: center;
    display: flex;
    height: 100%;
    position: relative;
}

.child{
    position: absolute;
    top:5rem;
}
.child h1{
    font-family: 'Montserrat', sans-serif;
}
.child h5{
    color:rgb(109, 252, 109);
}
.cta{
    margin-top: 2.5rem;
    display: flex;
    gap: 1.2rem;
    justify-content: center;
}
/* .header-socials{
   display: flex; 
   flex-direction: column;
   align-items: center;
   gap: 0.8rem;
   
   position: absolute;
   left: 0;
   bottom: 3rem;
} */


.me{
    background:#e5b9e8;
    width: 24rem;
    height: 24rem;
    position: absolute;
    left: 35rem;
    margin-top: 4rem;
    box-shadow: 1px 1px 10px 10px #f2aef7;
    border-radius: 50rem 50rem 50rem 50rem;
    overflow: hidden;
   
}   
/* .scroll_down{
    position: absolute;
    right: -3rem;
    bottom: 5rem;
    transform: rotate(90deg);
    font-weight: 300;
    font-size: 0.9rem;
} */
/* .me img{
    width: 300px;
    margin-left: 200px;




    position: absolute;
    left: calc(50% -11rem);
 } */



 @media  screen and (max-width:1024px) {
      
    header{
        height: 68vh;
    }

 }
 @media  screen and (max-width:600px) {
      
    header{
        height: 100vh;
    }
     .header-socials ,.scroll_down{
        display: none;
     }
 }
